@use 'sass:math';

@function rem($px) {
	@return math.div($px, 14) + rem;
  };

@mixin family ($fw, $fz, $lh){
  font-family: 'Poppins';
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}

.servicesContainer {
  max-width: 1180px;
  padding: 0 rem(15);
  margin: 0 auto;
}

.servicesHead {
  margin-top: 120px;
  background: linear-gradient(270deg, #37A12F -4.12%, #80DB2E 102.94%);
  min-height: 200px;
  h1{
    @include family (700, rem(50), rem(80));
    color: #FFFFFF;
    display: flex;
    min-height: 200px;
    align-items: center;  
  }
}

.servicesTable {
  display: flex;
  flex-direction: column;
  margin: rem(107) 0;
  h1 {
    margin: 0 auto;
    @include family (700, rem(46), rem(48));
    color: #76BF35
  }
  &Main {
    margin-top: rem(40);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, fr);
    row-gap: rem(40);
    column-gap: rem(19);

    .servicesCard {
      min-height: 380px;
      display: flex;
      flex-direction: column;
      text-decoration: none;

      &Img1{
        width: 370px;
        height: 200px;
        background: url(../../static/image/cardPhysical.png);
      }
      &Name {
        margin: 18px 0 12px;
        @include family (700, rem(18), rem(30));
        color: #4493B9;
        padding-left: 39px;
      }
      &Description {
        max-width: 330px;
        @include family (400, rem(14), rem(20));
        color: #676767;   
        padding-left: 39px;
      }
      &Button {
        margin: 15px 0 24px 39px;
        max-width: 126px;
        color: #4493B9;
        background: #fff;
        border: transparent;
        border: transparent;
      }
      &:hover {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      }
      .popupImg{
        width: 300px;
        height: 200px;
        background: url(../../static/image/cardPhysical.png);
        float: left;
        margin-right: 20px;
      }
      .popupDescription {
        @include family (400, rem(14), rem(20));
        color: #676767; 
      }
    }
  }  
}

.sendMessage {
  margin-bottom: 200px;
  min-height: 543px;
  background: linear-gradient(173.86deg, #80DB2E 13.23%, #68C1DA 110.72%);

  &Container {
    max-width: 1180px;
    padding: 0 rem(15);
    margin: 0 auto;
  }

  &Box {
    max-width: 976px;
    margin: 0 auto;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    h1 {
      @include family (700, rem(46), rem(30));
      color: #FFFFFF;
      margin-bottom: 49px;
      text-align: center;
    }
    &Input {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 24px;
      input {
        width: 300px;
        height: 60px;
        @include family (400, rem(20), rem(30));
        padding-left: 24px;
        &::placeholder{
          @include family (400, rem(16), rem(30));
          color: #999999;
        }
      }
    }
    textarea {
      width: 100%;
      max-height: 150px;
      padding: 11px 0 0 24px;
      @include family (400, rem(20), rem(30));
      margin-bottom: 34px;
      &::placeholder{
        @include family (400, rem(16), rem(30));
        color: #999999;
      }
    }
    .sendMessageButton {
      width: 290px;
      height: 60px;
      align-self: center;
      background: linear-gradient(270deg, #37A12F -4.12%, #80DB2E 102.94%);
      box-shadow: 0px 15px 10px rgba(125, 214, 246, 0.13);
      border-radius: 0px 30px;
      @include family (600, rem(16), rem(24));
      color: #FFFFFF;
      border: transparent;
      position: relative;

      &:hover {
        top: -10px;
        box-shadow: 0 5px 0 #0c5b52;
        color: #fff;
        // transition: all 0.5s ease 0.2s;
      }

      &:active {
        top: -5px;
        box-shadow: 0 2px 0 #0c5b52;
        transition: all 0.1s ease 0s;
      }
    }
  }
  
}

/*
!                   модальное окно 
 */
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
/* фон затемнения */
  background-color: #000000a6;
  position: fixed;
  cursor: default;
/* активируем слой затемнения */
  &:target {
    display: block;
  }
/* активируем модальный блок */
  &:target+.popup {
    transform: translate(-50%, 0);
    top: 20%;
  }
}
  /* стили модального окна */
.popup {
  top: -100%;
  right: 0;
  left: 50%;
  z-index: 2;
  font-size: rem(14);
  margin: 0;
  width: 85%;
  min-width: rem(320);
  max-width: rem(500);
/* фиксированное позиционирование */
  position: fixed;
  padding: rem(15);
  background: #fefefe;
/* скругление углов */
  border-radius: rem(10);
/* внешняя тень */
  box-shadow: 0 rem(15) rem(20) #00000038,0 rem(19) rem(60) #0000004d;
  transform: translate(-50%, -500%);
  transition: transform 0.6s ease-out;
  & iframe {
    width: 100%;
    height: 400px;
  }
}
  /* формируем кнопку закрытия */
.closePopup {
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  position: absolute;
  padding: 0;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #3d3d3dcc;
  box-shadow: 0px 0px 10px #000;
  text-align: center;
  text-decoration: none;
  @include family (500, rem(17), rem(20));
  transition: all ease 0.8s;
  display: block;
  &:before {
    content: "X";
    color: #ffffffe6;
    font-size: rem(12);
  }
  &:hover {
    background-color: rgba(252, 20, 0, 0.8);
    transform: rotate(360deg);    
  }
}



